.title {
  margin-top: 32px;
  font-family: galmuri-bold, serif;
  font-size: 20px;
  text-align: center;
}

.detailList {
  position: relative;
  margin-top: 12px;
  padding: 18px 16px 18px 14px;
  border: 2px solid #000;

  .image {
    position: absolute;
    left: -3px;
    top: -18px;
  }

  .detail {
    display: flex;
    align-items: center;
    margin: 6px 0 6px 0;

    div {
      width: 6px;
      height: 6px;
      background-color: #000;
      margin-right: 14px;
      transform: rotate(45deg);
    }

    p {
      width: 90%;
      font-family: galmuri-bold, serif;
      font-size: 16px;
      line-height: 21px;
      word-break: keep-all;
    }
  }
}
