@font-face {
  font-family: "galmuri";
  src: url('/fonts/Galmuri11.ttf');
}

.text {
  font-family: galmuri, serif;
}

@font-face {
  font-family: "galmuri-bold";
  src: url('/fonts/Galmuri11-Bold.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: galmuri, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ddd;
}

body {
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px #000 solid;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
